[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.0"
pyflakes = "<1.6.0,>=1.5.0"
pylint = ">=1.6.4"
PyYAML = ">=3.11"
pytest = "*"
Sphinx = ">=1.4.6"
tox = "*"
yapf = ">=0.12"
"-e ." = "*"

[packages]
pbr = ">=1.6"
Twisted = ">=15.4.0"
