[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"flake8" = ">=3.0"
pyflakes = "<1.6.0,>=1.5.0"
pylint = ">=1.6.4"
pyyaml = ">=3.11"
pytest = "*"
sphinx = ">=1.4.6"
tox = "*"
yapf = ">=0.12"
pipenv-to-requirements = ">=0.1.9"
"e1839a8" = {editable = true, path = "."}
wheel = "*"


[packages]

pbr = ">=1.6"
twisted = ">=15.4.0"
